{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}

    {% block content %}
    <form action="" method="post" autocomplete="off">
         {%csrf_token%}
         {{form.fullname|as_crispy_field}}
         {{form.mobile|as_crispy_field}}
        <div class="row">
            <div class="col-md-1"></div>
            {{form.emp_code|as_crispy_field}}
            <div class="col-md-1"></div>
            {{form.position|as_crispy_field}}
        </div>
        <button type="submit" class="btn-brn-success"><i class="fa fa-database" aria-hidden="true"></i>
        Submit</button>
    </form>

    {% endblock content %}